<div class="bg-body-light">
    <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-alt">
            <li class="breadcrumb-item"><i class="fa fa-map-marker-alt"></i></li>
            {{range $i, $e := .BreadcrumbMenus}}
            <li class="breadcrumb-item " aria-current="page">
                <a class="link-fx" href="{{if $e.UrlValue }} {{$e.UrlValue}}{{else}}javascript:void(0);{{end}}">{{$e.Title}}</a>
            </li>
            {{end}}
        </ol>
    </nav>
</div>