<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{config "String" "web_name" ""}} - 500错误</title>
    <meta name="description" content='{{config "String" "web_name" ""}} - 500错误'>
    <meta name="robots" content="noindex, nofollow">
    <!-- Icons -->
    <link rel="shortcut icon" href="/static/admin/media/favicons/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/admin/media/favicons/favicon-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/admin/media/favicons/apple-touch-icon-180x180.png">
    <!-- END Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
    <!-- Stylesheets -->
    <link rel="stylesheet" id="css-main" href="/static/admin/css/oneui.min.css">
    <!-- END Stylesheets -->
</head>
<body>
<!-- Page Container -->
<div id="page-container">
    <!-- Main Container -->
    <main id="main-container">
        <!-- Page Content -->
        <div class="hero">
            <div class="hero-inner text-center">
                <div class="content content-full bg-white overflow-hidden">
                    <div class="py-4">
                        <!-- Error Header -->
                        <h1 class="display-1 text-modern invisible" data-toggle="appear" data-class="animated zoomInDown">500</h1>
                        <h2 class="h3 font-w300 text-muted invisible mb-5" data-toggle="appear" data-class="animated fadeInUp">
                            {{$.content}}
                        </h2>
                        <!-- END Error Header -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->
</div>
<!-- END Page Container -->
<script src="/static/admin/js/oneui.core.min.js"></script>
<script src="/static/admin/js/oneui.app.min.js"></script>
</body>
</html>
